<div class="row">
    <div class="col-md-4 p-4" *ngFor="let photo of photos">
        <div class="card">
            <div class="card-header bg-danger text-light">
                {{photo.title}}
            </div>
            <img [src]="'http://localhost:4000' + photo.imagePath" class="img-card-top w-100">
            <div class="card-body">
                {{photo.description}}
            </div>
        </div>
    </div>
</div>
