<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header bg-warning">
            Sube una foto.
        </div>
        <div class="card-body bg-info">
            <form (submit)="cargar_foto(title,desc)">
                <div class="form-group">
                    <input type="text" class="form-control mt-2" placeholder="Titulo de la foto" required #title>
                </div>
                <div class="form-group">
                    <textarea class="form-control" row=2 placeholder="Descripción de la foto" required #desc></textarea>
                </div>
                <div class="form-group" style="text-align: center;">
                    <input type="file" class="d-none" (change)="selecionar_foto($event)" #photoInput>
                    <img [src]=" fotoSelected || 'assets/cargar.jpg'" width="200" height="200" alt="" style="border-radius: 50%; " (click)="photoInput.click()">
                </div>
                <div class="form-group">
                    <h4>Da click en la imagen para subir la foto</h4>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Cargar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>